/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define CSS Variables for colors and fonts */
:root {
  --primary-bg-color-teal: #008080;  /* Windows 98 teal background */
  --primary-font-color: #ffffff;
  --header-bg-color: #000080;   /* Windows 98 dark blue for window headers */
  --header-font-color: #ffffff;
  --window-border-color: #000000;
  --button-bg-color: lightgray;
  
  --font-family: 'MS Sans Serif', sans-serif;  /* Windows 98 style font */
  --font-size: 14px;
}

/* Apply Global Styles */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
}

/* Global link styling */
a {
  color: var(--primary-font-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Define global button styles */
button {
  font-family: var(--font-family);
  background-color: var(--button-bg-color);
  border: 1px solid var(--window-border-color);
  cursor: pointer;
  padding: 4px 8px;
}
